<div class="row justify-content-center login-container">
  <div class="col-sm-4 shadow login-content">
    <img src="./assets/images/logo_sk.png" class="logo">
    <h3>Login or register</h3>
    <mat-form-field class="d-block">
      <input matInput placeholder="Email" [(ngModel)]="credentials.email" required>
      <mat-error>Email is required</mat-error>
    </mat-form-field>
    <mat-form-field class="d-block">
      <input matInput placeholder="Password" [(ngModel)]="credentials.password" required>
      <mat-error>Password is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">LOG IN</button>
    <p>You don't have an account?</p>
    <button mat-raised-button color="accent" (click)="register()">REGISTER</button>
  </div>
</div>
